/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #cff;
}

h1 {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  background: #fff;
}
#element {
  margin-left: auto;
  margin-right: auto;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
