<div class="container">
    <h1><%= @me["name"] %>'s friends</h1>
    <table>
        <tr>
            <% i=0
            @friends.each do |friend| %>
            <%   i=i+1
                if i == 6 %>
                    </tr>
                    <tr>
                    <% i=0 %>
                <% end %>
            <%= add_friend(friend) %>
        <% end %>
        </tr>
    </table>
</div>
