<div class="container">
    <h1 class="round"><%= @me["name"] %>'s friends</h1>
    <table>
        <tr>
            <% i=0
            @friends.each do |friend| %>
            <% if i == 6 %>
                    </tr>
                    <tr>
                    <% i=0 %>
                <% end %>
            <%= add_friend(friend) %>
        <%  i = i+1
            end %>
        </tr>
    </table>
</div>
