<h1>Intersection of Likes</h1>
<ul>
    <% @intersectionLikes.each do |like| %>
        <li><a href=<%= "http://facebook.com/" + like["id"] %>><img src=<%= "http://graph.facebook.com/" + like["id"] + "/picture" %>></a>
        <a href=<%= "http://facebook.com/" + like["id"] %>><%= like["name"] %></a>
    <% end %>
</ul>
