<h1><%= @currFriendName %>'s likes</h1>
Curr Friend Likes
<ul>
    <% @currFriendLikes.each do |like| %>
        <li><%= like["name"] %></li>
    <% end %>
</ul>
My Likes
<ul>
    <% @@likes.each do |like| %>
        <li><%= like["name"] %></li>
    <% end %>
</ul>

<ul>
    <% @intersectionLikes.each do |like| %>
        <li><%= like["name"] %></li>
    <% end %>
</ul>
