<div class="container">
    <h1 class="round">Intersection of Likes with <%= @currFriendName %></h1>
    <table>
        <tr>
            <% i=0
            @intersectionLikes.each do |like| %>
            <% if i == 6 %>
                    </tr>
                    <tr>
                    <% i=0 %>
                <% end %>
            <%= add_like(like) %>
        <%  i = i+1
            end %>
        </tr>
    </table>
</div>
