<h1>Login with Facebook to see what you and your friends like.</h1>

<div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '192275184185105',
            status     : true, 
            cookie     : true,
            xfbml      : true
          });
          FB.Event.subscribe('auth.login', function() {
            var url =  "http://electric-waterfall-1160.heroku.com/"
            window.location = url + "friends";
            });
      };
      (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
       }(document));
     </script>

<div class="fb-login-button" data-perms="user_likes,friends_likes">Login with Facebook</div>
     
