<div class="container">
<h1>Login with Facebook to see what you and your friends like.</h1>

<div id="fb-root">
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '192275184185105',
            status     : true, 
            cookie     : true,
            xfbml      : true
        });
        FB.Event.subscribe('auth.login', function(resp) {
            window.location = 'http://electric-waterfall-1160.heroku.com/friends';
        });
      };
      (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
       }(document));
     </script>
</div>
<div class="fb-login-button" style="text-align: center;"data-perms="user_likes,friends_likes">Login with Facebook</div>
</div> 
