.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #cff;
}

h1 {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  background: #fff;
}
center {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
